#under-header {
    height:50px;
    font-family: 'Open sans', sans-serif;
    font-size:12px;
}

#under-header .common-logo-place a {
    display:block;
    padding:13px 0;
    color:rgba(0,0,0,0.7);
}

#under-header .common-logo-place a:hover {
    color:#33ae6c;
}

#under-header .common-logo-place a:hover > i {
    background:url(../img/common/cn_coin.png) no-repeat center center;
}

#under-header .common-logo-place a > i {
    content:'';
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
    width:21px;
    height:24px;
    background:url(../img/common/cn.png) no-repeat center center;
}

#under-header .common-menu ul {
    margin:0;
}

#under-header .common-menu ul > li {
    display:inline-block;
    line-height:50px;
    padding:0 20px;
}

#under-header .common-menu ul > li > a {
    display:block;
    color:rgba(0,0,0,0.7);
}

#under-header .common-menu ul > li > a:hover,
#under-header .common-menu ul > li > a.active {
    color:#33ae6c;
}

#under-header .common-menu ul > li > a > i {
    display:inline-block;
    vertical-align: middle;
    width:33px;
    height:32px;
    background:url(../img/common/all.png) no-repeat;
    margin-right:5px;
}

#under-header .common-menu ul > li > a > i.starter {
    background-position:0 0;
}

#under-header .common-menu ul > li > a:hover > i.starter,
#under-header .common-menu ul > li > a.active > i.starter{
    background-position: 0px -40px;
}

#under-header .common-menu ul > li > a > i.coin {
    background-position: 0px -80px;
}

#under-header .common-menu ul > li > a:hover > i.coin,
#under-header .common-menu ul > li > a.active > i.coin {
    background-position: 0px -122px;
}

#under-header .common-menu ul > li > a > i.foundation {
    background-position: 15px -160px;
}

#under-header .common-menu ul > li > a:hover > i.foundation,
#under-header .common-menu ul > li > a.active > i.foundation{
    background-position: 15px -195px;
}

#under-header .common-menu ul > li > a > i.forum {
    background-position: 7px -228px;
}

#under-header .common-menu ul > li > a:hover > i.forum,
#under-header .common-menu ul > li > a.active > i.forum {
    background-position: 7px -260px;
}